{
  "singleQuote": true,
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.jsonc",
      "options": { "parser": "json" }
    }
  ]
}
